In [3]:
!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from seaborn) (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /Users/mohammadshahin/uni/ms1-t3/mlops/project/mlops-sum24-project/venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 23.1.2 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
data = pd.read_csv('../data/games.csv')
print("The shape of the data is: ", data.shape)
print(data.head(5))

The shape of the data is:  (71716, 39)
     AppID                   Name  Release date Estimated owners  Peak CCU  \
0    20200       Galactic Bowling  Oct 21, 2008        0 - 20000         0
1   655370           Train Bandit  Oct 12, 2017        0 - 20000         0
2  1732930           Jolt Project  Nov 17, 2021        0 - 20000         0
3  1355720               Henosis™  Jul 23, 2020        0 - 20000         0
4  1139950  Two Weeks in Painland   Feb 3, 2020        0 - 20000         0

   Required age  Price  DLC count  \
0             0  19.99          0
1             0   0.99          0
2             0   4.99          0
3             0   5.99          0
4             0   0.00          0

                                      About the game  \
0  Galactic Bowling is an exaggerated and stylize...
1  THE LAW!! Looks to be a showdown atop a train....
2  Jolt Project: The army now has a new robotics ...
3  HENOSIS™ is a mysterious 2D Platform Puzzler w...
4  ABOUT THE GAME Play as a hacker who has arrang...

                                 Supported languages  ...  \
0                                        ['English']  ...
1  ['English', 'French', 'Italian', 'German', 'Sp...  ...
2                 ['English', 'Portuguese - Brazil']  ...
3  ['English', 'French', 'Italian', 'German', 'Sp...  ...
4                     ['English', 'Spanish - Spain']  ...

  Average playtime two weeks Median playtime forever  \
0                          0                       0
1                          0                       0
2                          0                       0
3                          0                       0
4                          0                       0

  Median playtime two weeks             Developers             Publishers  \
0                         0  Perpetual FX Creative  Perpetual FX Creative
1                         0           Rusty Moyher           Wild Rooster
2                         0          Campião Games          Campião Games
3                         0      Odd Critter Games      Odd Critter Games
4                         0          Unusual Games          Unusual Games

                                          Categories  \
0  Single-player,Multi-player,Steam Achievements,...
1  Single-player,Steam Achievements,Full controll...
2                                      Single-player
3              Single-player,Full controller support
4                   Single-player,Steam Achievements

                            Genres  \
0              Casual,Indie,Sports
1                     Action,Indie
2  Action,Adventure,Indie,Strategy
3           Adventure,Casual,Indie
4                  Adventure,Indie

                                                Tags  \
0                        Indie,Casual,Sports,Bowling
1  Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...
2                                                NaN
3  2D Platformer,Atmospheric,Surreal,Mystery,Puzz...
4  Indie,Adventure,Nudity,Violent,Sexual Content,...

                                         Screenshots  \
0  https://cdn.akamai.steamstatic.com/steam/apps/...
1  https://cdn.akamai.steamstatic.com/steam/apps/...
2  https://cdn.akamai.steamstatic.com/steam/apps/...
3  https://cdn.akamai.steamstatic.com/steam/apps/...
4  https://cdn.akamai.steamstatic.com/steam/apps/...

                                              Movies
0  http://cdn.akamai.steamstatic.com/steam/apps/2...
1  http://cdn.akamai.steamstatic.com/steam/apps/2...
2  http://cdn.akamai.steamstatic.com/steam/apps/2...
3  http://cdn.akamai.steamstatic.com/steam/apps/2...
4  http://cdn.akamai.steamstatic.com/steam/apps/2...

[5 rows x 39 columns]

In [41]:
# include only non-null values
col_name = 'Categories'
col = list(data[col_name].dropna())[:5]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears
# print(list(data[col_name].value_counts()))

all_categories = []

# apply a function to the values
def clean_categories(categories):
    if type(categories) is not str:
        return []
    # print(categories)
    return categories.split(",")

new_df = data[col_name].apply(clean_categories)
# merge all the lists into one
for categories in new_df:
    all_categories.extend(categories)

print(len(set(all_categories)))

col

Unique values in the column:  5236
40

['Single-player,Multi-player,Steam Achievements,Partial Controller Support',
 'Single-player,Steam Achievements,Full controller support,Steam Leaderboards,Remote Play on Phone,Remote Play on Tablet,Remote Play on TV',
 'Single-player',
 'Single-player,Full controller support',
 'Single-player,Steam Achievements']

In [40]:
# include only non-null values
col_name = 'Genres'
col = list(data[col_name].dropna())[:5]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears
# print(list(data[col_name].value_counts()))

all_genres = []

# apply a function to the values
def clean_categories(categories):
    if type(categories) is not str:
        return []
    # print(categories)
    return categories.split(",")

new_df = data[col_name].apply(clean_categories)
# merge all the lists into one
for categories in new_df:
    all_genres.extend(categories)

print(len(set(all_genres)))


col

Unique values in the column:  2201
33

['Casual,Indie,Sports',
 'Action,Indie',
 'Action,Adventure,Indie,Strategy',
 'Adventure,Casual,Indie',
 'Adventure,Indie']

In [39]:
# include only non-null values
col_name = 'Tags'
col = list(data[col_name].dropna())[:5]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears
# print(list(data[col_name].value_counts()))

all_tags = []

# apply a function to the values
def clean_categories(categories):
    if type(categories) is not str:
        return []
    # print(categories)
    return categories.split(",")

new_df = data[col_name].apply(clean_categories)
# merge all the lists into one
for categories in new_df:
    all_tags.extend(categories)

print(len(set(all_tags)))


col

Unique values in the column:  50998
446

['Indie,Casual,Sports,Bowling',
 'Indie,Action,Pixel Graphics,2D,Retro,Arcade,Score Attack,Minimalist,Comedy,Singleplayer,Fast-Paced,Casual,Funny,Parody,Difficult,Gore,Violent,Western,Controller,Blood',
 '2D Platformer,Atmospheric,Surreal,Mystery,Puzzle,Survival,Adventure,Linear,Singleplayer,Experimental,Platformer,Precision Platformer,Puzzle-Platformer,2D,Stylized,Physics,Time Manipulation,Casual,Indie',
 'Indie,Adventure,Nudity,Violent,Sexual Content,Story Rich',
 'Turn-Based Combat,Massively Multiplayer,Multiplayer,RPG,Tactical RPG,Exploration,PvP,MMORPG,Turn-Based Strategy,God Game,Strategy,2.5D,Magic,Medieval,Mythology,Class-Based,Turn-Based Tactics,Singleplayer,Online Co-Op,Co-op']

In [42]:
# include only non-null values
col_name = 'Movies'
col = list(data[col_name].dropna())[:5]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears
col

Unique values in the column:  66601

['http://cdn.akamai.steamstatic.com/steam/apps/256863704/movie_max.mp4?t=1638854607',
 'http://cdn.akamai.steamstatic.com/steam/apps/256691108/movie_max.mp4?t=1506089586',
 'http://cdn.akamai.steamstatic.com/steam/apps/256847488/movie_max.mp4?t=1635980739,http://cdn.akamai.steamstatic.com/steam/apps/256847487/movie_max.mp4?t=1635980747',
 'http://cdn.akamai.steamstatic.com/steam/apps/256819153/movie_max.mp4?t=1611314333',
 'http://cdn.akamai.steamstatic.com/steam/apps/256764430/movie_max.mp4?t=1580660973']

In [61]:
import json

# include only non-null values
col_name = 'Supported languages'
col = list(data[col_name].dropna())[:5]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears

all_languages = []

# apply a function to the values
def clean_languages(categories):
    if type(categories) is not str:
        return []
    # error in the dataset 
    to_replace = "K'iche'"
    if to_replace in categories:
        categories = categories.replace(to_replace, "'Kiche'")
    try:
        langs = json.loads(categories.replace("'", "\""))

    except:
        print(categories)
        raise
    return langs

new_df = data[col_name].apply(clean_languages)
# merge all the lists into one
for categories in new_df:
    all_languages.extend(categories)

print(len(set(all_languages)))

col

Unique values in the column:  9663
134

["['English']",
 "['English', 'French', 'Italian', 'German', 'Spanish - Spain', 'Japanese', 'Portuguese - Brazil', 'Russian', 'Simplified Chinese', 'Traditional Chinese']",
 "['English', 'Portuguese - Brazil']",
 "['English', 'French', 'Italian', 'German', 'Spanish - Spain', 'Japanese', 'Korean', 'Portuguese', 'Russian', 'Simplified Chinese', 'Traditional Chinese']",
 "['English', 'Spanish - Spain']"]

In [63]:
import json

# include only non-null values
col_name = 'Full audio languages'
col = list(data[col_name].dropna())[:10]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears

all_languages = []

# apply a function to the values
def clean_languages(categories):
    if type(categories) is not str:
        return []
    # error in the dataset 
    to_replace = "K'iche'"
    if to_replace in categories:
        categories = categories.replace(to_replace, "'Kiche'")
    try:
        langs = json.loads(categories.replace("'", "\""))

    except:
        print(categories)
        raise
    return langs

new_df = data[col_name].apply(clean_languages)
# merge all the lists into one
for categories in new_df:
    all_languages.extend(categories)

print(len(set(all_languages)))

col

Unique values in the column:  1935
121

['[]',
 '[]',
 '[]',
 '[]',
 '[]',
 '[]',
 '[]',
 "['English', 'German']",
 '[]',
 "['English', 'Japanese']"]

In [60]:
"['English', 'French', 'Italian', 'German', 'Spanish - Spain', 'Arabic', 'Simplified Chinese', 'Portuguese - Brazil', 'Bulgarian', 'Danish', 'Dutch', 'Finnish', 'Traditional Chinese', 'Japanese', 'Korean', 'Spanish - Latin America', 'Polish', 'Hungarian', 'Norwegian', 'Portuguese - Portugal', 'Romanian', 'Russian', 'Thai', 'Turkish', 'Ukrainian', 'Vietnamese', 'Greek', 'Czech', 'Swedish', 'Afrikaans', 'Amharic', 'Albanian', 'Assamese', 'Azerbaijani', 'Bangla', 'Basque', 'Belarusian', 'Bosnian', 'Dari', 'Indonesian', 'Armenian', 'Estonian', 'Persian', 'Filipino', 'Welsh', 'Galician', 'Gujarati', 'Georgian', 'Hausa', 'Hindi', 'Croatian', 'Kannada', 'Catalan', 'Kazakh', 'Quechua', K'iche', 'Khmer', 'Konkani', 'Kyrgyz', 'Latvian', 'Lithuanian', 'Luxembourgish', 'Macedonian', 'Malayalam', 'Malay', 'Maltese', 'Maori', 'Marathi', 'Mongolian', 'Nepali', 'Odia', 'Punjabi (Gurmukhi)', 'Punjabi (Shahmukhi)', 'Kinyarwanda', 'Sinhala', 'Sindhi', 'Slovak', 'Slovenian', 'Sorani', 'Sotho', 'Swahili', 'Serbian', 'Tajik', 'Tamil', 'Tatar', 'Telugu', 'Tigrinya', 'Tswana', 'Turkmen', 'Urdu', 'Uyghur', 'Valencian', 'Wolof', 'Xhosa', 'Yoruba', 'Zulu', 'Cherokee', 'Uzbek', 'Hebrew', 'Igbo', 'Irish', 'Scots', 'Icelandic']"[680:]

"hua', K'iche', 'Khmer', 'Konkani', 'Kyrgyz', 'Latvian', 'Lithuanian', 'Luxembourgish', 'Macedonian', 'Malayalam', 'Malay', 'Maltese', 'Maori', 'Marathi', 'Mongolian', 'Nepali', 'Odia', 'Punjabi (Gurmukhi)', 'Punjabi (Shahmukhi)', 'Kinyarwanda', 'Sinhala', 'Sindhi', 'Slovak', 'Slovenian', 'Sorani', 'Sotho', 'Swahili', 'Serbian', 'Tajik', 'Tamil', 'Tatar', 'Telugu', 'Tigrinya', 'Tswana', 'Turkmen', 'Urdu', 'Uyghur', 'Valencian', 'Wolof', 'Xhosa', 'Yoruba', 'Zulu', 'Cherokee', 'Uzbek', 'Hebrew', 'Igbo', 'Irish', 'Scots', 'Icelandic']"

In [64]:
# include only non-null values
col_name = 'Achievements'
col = list(data[col_name].dropna())[:10]
unique_col = data[col_name].nunique()
print("Unique values in the column: ", unique_col)
# show each value and the number of times it appears

Unique values in the column:  423

In [34]:
# DROP
# drop Header image
# drop Score rank. It has 71674 null values (out of 71716!).
# probably drop Develops (too many unique values 42615). We can also transform these features to has_experienced_developer (more than 50 games)
# probably drop Publishers (too many unique values 36815). We can also transform these features to has_experienced_publisher (more than 50 games)
# probably drop Screenshots.
# drop AppID
# drop Name

# TRANSFORM
# transform Website to has_website
# tranform Support url to has_support_url
# transform Support email to has_support_email
# transform Metacritic url to has_metacritic_url
# transform Categories (unique vals = 40) using one hot encoding and fill missing values (3407).
# transform Genres (unique vals = 30) using one hot encoding and fill missing values (2439).
# transform Tags (unique vals = 446) using one hot encoding and fill missing values (14014). Or maybe not. Just ignore it.
# tranform Movies to num_movies (not sure though. These are NOT actual movies. They are trailers. So, maybe we can ignore this feature.)
# Supported languages (unique = 134) one hot encoding
# Full audio languages (unique = 121) one hot encoding

# KEEP
# Price
# Required age
# Release date
# Metacritic score 
# Achievements


# ALL BELOW ARE TEXT
# transform About the game to something
# tranform Reviews to something
# transform Notes to something

# TARGET
# choose one of the ones below and drop the rest to avoid data leakage
# Average playtime forever          
# Average playtime two weeks        
# Median playtime forever           
# Median playtime two weeks   

# IDK (but problably drop because leakage)
# Estimated owners is of the format (%d - %d)
# Peak CCU
# User score
# Positive
# Negative
# Recommendations

In [ ]:
df = data.copy()

In [106]:
import json
import gc

df = data.copy()
gc.collect()
# DROP
# drop Header image
# drop Score rank. It has 71674 null values (out of 71716!).
# probably drop Develops (too many unique values 42615). We can also transform these features to has_experienced_developer (more than 50 games)
# probably drop Publishers (too many unique values 36815). We can also transform these features to has_experienced_publisher (more than 50 games)
# probably drop Screenshots.
# drop AppID
# drop Name

df.drop(columns=['Header image', 'Score rank', 'Developers', 'Publishers', 'Screenshots', 'AppID', 'Name'], inplace=True)
print(df.shape)

# TRANSFORM
# transform Website to has_website
df['has_website'] = df['Website'].notnull().astype(int)
df.drop(columns=['Website'], inplace=True)

# tranform Support url to has_support_url
df['has_support_url'] = df['Support url'].notnull().astype(int)
df.drop(columns=['Support url'], inplace=True)

# transform Support email to has_support_email
df['has_support_email'] = df['Support email'].notnull().astype(int)
df.drop(columns=['Support email'], inplace=True)

# transform Metacritic url to has_metacritic_url
df['has_metacritic_url'] = df['Metacritic url'].notnull().astype(int)
df.drop(columns=['Metacritic url'], inplace=True)

def clean_cat_feats(df, feat_name, sep=','):
    all_categories = []
    def clean_categories(categories):
        if type(categories) is not str:
            return []
        return categories.split(sep)

    new_df = df[feat_name].apply(clean_categories)
    # merge all the lists into one
    for categories in new_df:
        all_categories.extend(categories)

    unique_categories = set(all_categories)
    print(feat_name, len(unique_categories))
    if len(unique_categories) > 500:
        raise ValueError("Too many unique values")
    
    # create a new column for each category
    new_cols = []
    for category in unique_categories:
        new_col = df[feat_name].str.contains(category).astype(int)
        new_cols.append(new_col)
    
    new_df = pd.concat(new_cols, axis=1)
    unique_colums = [feat_name + ' ' + category for category in unique_categories]
    new_df.columns = unique_colums
    # print(new_df.columns)
    # print(new_df.shape)
    df = pd.concat([df, new_df], axis=1)
    # df.merge(new_df, left_index=True, right_index=True, inplace=True)
    
    df.drop(columns=[feat_name], inplace=True)
    return df


df.dropna(subset=['Categories', 'Genres', 'Tags', 'Movies'], inplace=True)
# transform Categories (unique vals = 40) using one hot encoding and fill missing values (3407).
df = clean_cat_feats(df, 'Categories')
# raise ValueError("Too many unique values")
# transform Genres (unique vals = 30) using one hot encoding and fill missing values (2439).
df = clean_cat_feats(df, 'Genres')
# transform Tags (unique vals = 446) using one hot encoding and fill missing values (14014). Or maybe not. Just ignore it.
df = clean_cat_feats(df, 'Tags')
# tranform Movies to num_movies (not sure though. These are NOT actual movies. They are trailers. So, maybe we can ignore this feature.)
df['num_movies'] = df['Movies'].apply(lambda x: len(x.split(',')))
df.drop(columns=['Movies'], inplace=True)

def clean_cat_feats_langs(df, feat_name, sep=','):
    all_categories = []
    def clean_categories(categories):
        if type(categories) is not str:
            return []
        # error in the dataset 
        to_replace = "K'iche'"
        if to_replace in categories:
            categories = categories.replace(to_replace, "'Kiche'")
        try:
            langs = json.loads(categories.replace("'", "\""))
        except:
            raise
        return langs
    
    new_df = df[feat_name].apply(clean_categories)
    # merge all the lists into one
    for categories in new_df:
        all_categories.extend(categories)

    unique_categories = set(all_categories)
    print(feat_name, len(unique_categories))

    # create a new column for each category
    new_cols = []
    for category in unique_categories:
        try: 
            new_col = df[feat_name].str.contains(category).astype(int)
            new_cols.append(new_col)
        except: 
            print([category])
            raise
    
    new_df = pd.concat(new_cols, axis=1)
    unique_colums = [feat_name + ' ' + category for category in unique_categories]
    new_df.columns = unique_colums
    # print(new_df.columns)
    # print(new_df.shape)
    df = pd.concat([df, new_df], axis=1)
    # df.merge(new_df, left_index=True, right_index=True)

    df.drop(columns=[feat_name], inplace=True)
    return df

# Supported languages (unique = 134) one hot encoding
df = clean_cat_feats_langs(df, 'Supported languages')
# Full audio languages (unique = 121) one hot encoding
df = clean_cat_feats_langs(df, 'Full audio languages')


# KEEP
# Price
# Required age
# Release date
# extract some useful feats from Release date
df['Release date'] = pd.to_datetime(df['Release date'])
df['release_year'] = df['Release date'].dt.year
df['release_month'] = df['Release date'].dt.month
df['release_day'] = df['Release date'].dt.day
df.drop(columns=['Release date'], inplace=True)
# Metacritic score 
# Achievements
# Windows 
# to int
df['Windows'] = df['Windows'].astype(int)
# Mac
df['Mac'] = df['Windows'].astype(int)
# Linux
df['Linux'] = df['Windows'].astype(int)


# ALL BELOW ARE TEXT
df.drop(columns=['About the game', 'Reviews', 'Notes'], inplace=True)
# transform About the game to something
# tranform Reviews to something
# transform Notes to something

# TARGET
df.drop(columns=['Average playtime forever', 'Median playtime forever', 'Median playtime two weeks'], inplace=True)
# choose one of the ones below and drop the rest to avoid data leakage
# Average playtime forever          
# Average playtime two weeks        
# Median playtime forever           
# Median playtime two weeks   

# IDK (but problably drop because leakage)
# df.dropna(subset=['Average playtime forever', 'Median playtime forever', 'Median playtime two weeks'], inplace=True)
# Estimated owners
df['estimated_owner_min'] = df['Estimated owners'].apply(lambda x: int(x.split('-')[0].strip()))
df['estimated_owner_max'] = df['Estimated owners'].apply(lambda x: int(x.split('-')[1].strip()))
df.drop(columns=['Estimated owners'], inplace=True)
# Peak CCU
# User score
# Positive
# Negative
# Recommendations
gc.collect()
print(df.shape)
df.head()

(71716, 32)
Categories 39

/var/folders/fs/hc861b_12cjgmbbb5w4q1jcc0000gn/T/ipykernel_59849/306713549.py:55: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  new_col = df[feat_name].str.contains(category).astype(int)

Genres 33
Tags 445

/var/folders/fs/hc861b_12cjgmbbb5w4q1jcc0000gn/T/ipykernel_59849/306713549.py:55: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  new_col = df[feat_name].str.contains(category).astype(int)

Supported languages 115

/var/folders/fs/hc861b_12cjgmbbb5w4q1jcc0000gn/T/ipykernel_59849/306713549.py:109: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  new_col = df[feat_name].str.contains(category).astype(int)

Full audio languages 111

/var/folders/fs/hc861b_12cjgmbbb5w4q1jcc0000gn/T/ipykernel_59849/306713549.py:109: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  new_col = df[feat_name].str.contains(category).astype(int)

(54529, 767)

,Peak CCU,Required age,Price,DLC count,Windows,Mac,Linux,Metacritic score,User score,Positive,...,Full audio languages Dutch,Full audio languages Nepali,Full audio languages French&amp;lt;strong&amp;gt;&amp;lt;/strong&amp;gt;,Full audio languages Sindhi,Full audio languages Basque,release_year,release_month,release_day,estimated_owner_min,estimated_owner_max
0,0,0,19.99,0,1,1,1,0,0,6,...,0,0,0,0,0,2008,10,21,0,20000
1,0,0,0.99,0,1,1,1,0,0,53,...,0,0,0,0,0,2017,10,12,0,20000
3,0,0,5.99,0,1,1,1,0,0,3,...,0,0,0,0,0,2020,7,23,0,20000
4,0,0,0.00,0,1,1,1,0,0,50,...,0,0,0,0,0,2020,2,3,0,20000
5,68,0,0.00,0,1,1,1,0,0,87,...,0,0,0,0,0,2021,2,26,50000,100000

In [107]:
df.isna().sum().sum()

0

In [111]:

cols = df.columns
types = df.dtypes
for col, typ in zip(cols, types):
    assert typ == object, col
    if not str(typ).startswith('int') and not str(typ).startswith('float'):
        print(col, str(typ))

AssertionError: Peak CCU